<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /safegroup/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /safegroup/index.php [L]
</IfModule>
